#comment_radio_main {
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 10px;

    box-shadow: 3px 3px #aaa;

    display: flex;
    justify-content: space-between;

    border: 1px solid #aaa;
}

#comment_radio_label {
    font-size: 20px;
    line-height: 2rem;
    padding: 0.2em 0.4em;
}

#comment_radio_span {
    vertical-align: middle;
    margin-right: 5px;
}

.comment_radio {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}