#join_main {
    width: 30%;
    height: 680px;

    border: 1px solid #aaa;
    border-radius: 10px;

    /* 음영처리 */ 
    /* x축, y축, 블러크기, 색상*/
    box-shadow: 0 0 8px #aaa;

    /* 박스 x축 중앙 정렬 : margin 좌우값을 auto로 설정*/
    margin: 70px auto;  
}

#join_logo_position {
    text-align: center;
}

#join_logo_img {
    margin-top: 20px;
    height: 80px;
}

#join_main_content {
    width: 50%;
    margin: 20px auto;
}

#join_form_label {
    font-weight: 600;
}

.join_form_control {
    text-align: center;

    box-shadow: 3px 3px #D0D0D0;
}
.join_form_control::placeholder {
    color: #D0D0D0;
}

#join_div {
    text-align: center;
    margin-top: 40px; 
}

.btn_gray {
    background-color: #717172;
    border: none;
}
.btn_gray:hover, .btn_gray:active, .btn_gray:focus {
    background-color: #5e5e5e;
}

.btn_orange {
    background-color: #E9460A;
    border: none;
}
.btn_orange:hover, .btn_orange:active, .btn_orange:focus {
    background-color: #b43102;
}

.join_btn {
    width: 80px;
}

.btn_size_100 {
    width: 100px;
}

#user_jon_btn {
    margin-left: 10px;
}