#question_content_main {
    width: 60%;
    margin: 60px auto;
}

.justify {
    display: flex;
    justify-content: space-between;
}

/* 문의사항 제목 */
#question_content_title {
    height: 60px;
    /* width: 900px; */
    
    font-size: 25px;
    font-weight: 550;

    padding: 10px 0px;
}

/* 문의사항 작성자/작성일 */
#question_content_write {
    color: #6d6c6c;

    margin-top: 5px;
    font-size: 15px;
}

/* 수정/삭제 버튼 */
#question_content_body_div {
    padding-top: 50px;      /* (아래 정렬로 바꿀 수 있음 바꾸기) */
}

/* button className-- */
.btn_gray {
    background-color: #717172;
    border: none;
}
.btn_gray:hover, .btn_gray:active, .btn_gray:focus {
    background-color: #5e5e5e;
}

.btn_orange {
    background-color: #E9460A;
    border: none;
}
.btn_orange:hover, .btn_orange:active, .btn_orange:focus {
    background-color: #b43102;
}

.question_btn {
    width: 80px;
}

.btn_size_100 {
    width: 100px;
}
/* --button */

#question_content_delete_btn {
    margin-left: 10px;
}

/* 문의사항 내용 */
#question_contents {
    height: 500px;

    margin-top: 20px;
    padding: 30px 20px;

    border: 1px solid #aaa;
    border-radius: 10px;
}

/* footer */
#question_content_footer_div {
    margin-top: 10px;
    float: right;
}

/* Modal */
#question_delete_modal {
    width: 280px;

    border: 1px solid black;
    border-radius: 10px;
}

#question_delete_modal_body {
    text-align: center;
    
    font-size: 17px;
    font-weight: 550;
}

#question_delete_modal_content {
    margin-top: 40px;
}

/* 댓글 */
#question_content_comment_footer {
    margin-top: 10px;
    border: 1px solid #979797;
    border-radius: 5px;
}

#question_content_comment_txt {
    margin-top: 15px;
    font-weight: 600;
}

.justify {
    display: flex;
    justify-content: space-between;
}

#question_content_comment_insert {
    width: 100%;
    border: 1px solid gray;
}

#question_content_comment_insert::placeholder {
    color: #D0D0D0;
}

#question_content_comment_size {
    height: 100px;
}

#question_content_comment_writer {    /* 댓글 작성자 */
    height: 60px;
    
    padding: 10px 0px;

    float: left;
}

#question_content_comment_detail {    /* 댓글 내용 */
    height: 60px;
    
    padding: 10px 0px;

    float: left;
}

#question_content_comment_update, #question_content_comment_delete {    /* 댓글 수정하기 */
    margin-top: 10px;
    margin-left: 10px;
    font-size: 11px;
    width: 70px;    
}

/* 댓글 - 파일첨부 */
#question_content_comment_file::file-selector-button {
    width: 100px;
    height: 35px;
        
    background: #58657F;
    color: white;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

#question_content_comment_file::file-selector-button:hover {
    background: #414858;
    color: white;
}

#question_content_comment_insert_btn {
    margin-left: 10px;
}