.header_nav_bar {
    background: #353131;
}

.header_title {
    color: white;
    margin-left: 5%;
}

.cen_logo {
    height: 50px;
}

.me-auto {
    margin-left: 5%;
}

.header_nav_link {
    margin-right: 20px;
    color: white;
}