#notice_btn_main {
    width: 60%;

    /* 박스 x축 중앙 정렬 : margin 좌우값을 auto로 설정*/
    margin: 30px auto;  
}

#notice_table_main {
    border-radius: 10px;

    height: 670px;

    /* 음영처리 */ 
    /* x축, y축, 블러크기, 색상*/
    box-shadow: 0 0 8px #aaa;
}

/* table */
#notice_table {
    /* 테이블 내부 간격 */
    border-collapse: separate;
    border-spacing: 0 20px;
}

#notice_table th, #notice_table td {
    border-style: hidden;
}

#notice_main_thead {
    margin-top: 10px;
    background-color: #F3F6F9;
    text-align: center;
}

#notice_main_tbody {
    text-align: center;
}

#notice_main_tbody_th {
    color: black;
    font-size: 15px;
    cursor: pointer;
}