#notice_update_div {
    /* margin: 60px 2%; */
    width: 60%;
    margin: 60px auto;
}

.justify {
    display: flex;
    justify-content: space-between;
}

/* 공지사항 제목 입력 */
#notice_update_title {
    height: 60px;
    width: 250px;

    font-size: 25px;
    font-weight: 550;
}

#notice_update_footer_div {
    margin-top: 10px;
    float: right;
}

/* 공지사항 파일 */
#notice_update_content_file_txt {
    float: right;

    color: rgba(11, 61, 155, 0.527);
    border: 1px solid #aaa;
    
    border-radius: 10px;    
    margin-top: 5px;

    padding: 5px;
}

#notice_update_content_file_data{
    font-weight: 600;
    margin-left: 10px;

    cursor: pointer;
}

/* button className-- */
.btn_gray {
    background-color: #717172;
    border: none;
}
.btn_gray:hover, .btn_gray:active, .btn_gray:focus {
    background-color: #5e5e5e;
}

.btn_orange {
    background-color: #E9460A;
    border: none;
}
.btn_orange:hover, .btn_orange:active, .btn_orange:focus {
    background-color: #b43102;
}

.notice_btn {
    width: 80px;
}

.btn_size_100 {
    width: 100px;
}
/* --button */

#notice_update_btn {
    margin-left: 10px;
}

/* Modal */
#noticee_update_modal {
    width: 400px;

    border: 1px solid black;
    border-radius: 10px;
}

#notice_update_modal_body {
    text-align: center;
    
    font-size: 17px;
    font-weight: 550;
}

#notice_update_modal_content {
    margin-top: 40px;
}